<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruben.vistocar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Obter Localização por wi-fi e triangulação de antenas-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".VistoCarApplication"
        android:icon="@mipmap/ic_launcher_vistocar_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_vistocar_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ServicosPai" />
        <activity android:name=".DebugActivity" />
        <activity android:name=".Prefs" />
        <activity
            android:name=".MapasActivity"
            android:theme="@style/AppTheme.Toolbar"/>
        <activity
            android:name=".AgendandoAgendar"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".Servicos"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".MeusAgendamentos"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".ProcessoImportacao"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".Caminhoes"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".Acessibilidade"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".InsencaoIPVA"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".InspecaoQualidade"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".Homologacao"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".Fretamento"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".InspecaoSeguranca"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".InspecaoMercosul"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".Alvaras"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".Transporte"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".Gas"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".Modificados"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".Recuperados"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".FaleConosco"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".SobreNos"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".Perfil"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".CriarAgendamento"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".TelaInicial"
            android:theme="@style/AppTheme.Toolbar" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.V2.API_KEY"
            android:value="@string/API_KEY" />
    </application>

</manifest>